datasets==4.5.0
autogen==0.10.3
boto3>=1.40
huggingface_hub==0.36.0
ir_datasets==0.5.11
joblib==1.5.3
numpy==2.2.6
openai==2.20.0
pandas==2.3.3
seaborn==0.13.2
peft==0.18.1
pyserini==1.2.0
setuptools==80.9.0
tiktoken==0.12.0
toml==0.10.2
tqdm==4.67.1
transformers==4.57.3
trl==0.28.0
vllm==0.11.0
